*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #000;
}
ul,li,ol{
	list-style: none;
}
/* 页头 */
.header-wrapper{
	height: 30px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #ececec;
}
.header{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
.header{
	font-size: 12px;
	line-height: 30px;
}
.header img{
	vertical-align: middle;
	margin-left: 10px;
}
.right{
	float: right;
}
/* 导航栏 */
.nav-wrapper{
	height: 156px;
	border-bottom: 3px solid #e00304
}
.nav{
	width: 1200px;
	height: 156px;
	margin: 0 auto;
	position: relative;
	top: 1px;
}
.search{
	width: 500px;
	position: absolute;
	left: 382px;
	top: 39px;
}
.search input{
	width: 406px;
	height: 36px;
	text-indent: 20px;
	color: #c1c1c1;
	border: 2px solid #f83838;
}
.search a{
	width: 90px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	background-color: #f83838;
	float: right;
}
.shopping{
	width: 148px;
	text-align: center;
	line-height: 38px;
	text-indent: 38px;
	float: right;
	margin: 39px 7px 0 0;
	background: #f5f5f5 url(shopping.png) no-repeat 25px;
	border: 1px solid #e3e3e3;
}
.shopping a{
	color: #f25f5f;
}
.subnav{
	margin-top: 20px;
}
.subnav a{
	width: 89px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	border-radius: 5px;
	margin-right: 40px;
	display: inline-block;
}
.subnav a:hover{
	color: #fff;
	background-color: #fd0304;
}
.subnav a:last-child{
	color: #fff;
	background-color: #fd0304;
}
/* 主体内容 */
.content-wrapper{
	height: 650px;
	background-color: #fbfbfb
}
.content{
	width: 1200px;
	height: 650px;
	margin: 0 auto;
}
	/* 侧边菜单 */
.menu{
	width: 215px;
	height: 565px;
	float: left;
}
.menu p{
	line-height: 66px;
	font-size: 14px;
}
.menu1{
	width: 215px;
	text-indent: 76px;
	line-height: 44px;
	display: inline-block;
	margin-bottom: 10px;
	background: #fff url(sort.png) no-repeat 32px;
}
.menu2{
	width: 139px;
	height: 510px;
	font-size: 14px;
	padding-left: 76px;
	background-color: #fff;
}
.menu2 .food{
	color: #ff2c18;
}
	/* 内容 */
.main{
	width: 972px;
	height: 564px;
	margin-top: 66px;
	float: right;
	background-color: #fff
}
.main li{
	width: 220px;
	height: 252px;
	text-align: center;
	float: left;
	margin: 17px 0 0 17px;
	border: 1px solid #dbdbdb;
}
.main div{
	width: 220px;
	height: 190px;
	line-height: 190px;
}
.main img{
	vertical-align: middle;
}
.main p{
	color: #a3a3a3;
	line-height: 30px;
}
.footer-wrapper{
	height: 247px;
	background-color: #2e2e2e;
}
.footer1{
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	border-bottom: 1px solid #454545;
}
.list1{
	width: 84px;
	display: inline-block;
}
.list{
	width: 84px;
	margin-left: 180px;
	display: inline-block;
}
.footer1 p{
	color: #fff;
	margin: 13px 0;
}
.footer1 a{
	color: #fff;
	font-size: 14px;
	line-height: 30px
}
.footer2{
	width: 1200px;
	text-align: center;
	margin: 0 auto;
}
.footer2 p{
	margin-top: 27px;
}
.footer2 p span{
	margin: 0 3px;
	color: #fff;
}
.footer2 a,.footer2 span{
	color: #fff;
	font-size: 14px;
} 
